h1 {
    text-align: center;
}

h2 {
    background-color: lightslategrey;
    width: 350px;
    border: solid 2px;
    border-color: black;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.Canned {
    background-color: dimgrey;
    width: 175px;
    height: 150px;
    display: inline-block;
}

.Dry {
    background-color: dimgray;
    width: 175px;
    height: 150px;
    display: inline-block;
}

.Veggies {
    background-color: dimgray;
    width: 175px;
    height: 150px;
    display: inline-block;
}

.Snacks {
    background-color: dimgray;
    width: 175px;
    height: 150px;
    display: inline-block;
}
